<nav class="navbar navbar-default navbar-fixed-top" role=navigation>
  <div class="container">
    <div class="navbar-header">
      <div class="col-xs-12">
        <div class="col-xs-2">
          <a href="#">
            <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
          </a>
        </div>
        <div class=col-xs-4>
          <%= link_to(image_tag("logo.png", class: 'logo'), root_path) %>
        </div>
        <div class="col-xs-4 col-xs-offset-2">
          <a class="glyphicon glyphicon-user" href="#"></a>
          <a class="fa fa-shopping-cart" href="#"></a>
        </div>
      </div>
    </div>
  </div>
</nav>
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="4000">
  <div class="select_box">
    <!-- 轮播（Carousel）指标 -->
    <!-- 轮播（Carousel）项目 -->
    <div class="carousel-inner">
      <div class="item active">
        <table class="table table_select">
          <div class="carousel1">
            <%= image_tag("wpicon_img_106.jpg", class: 'img-responsive ') %>
          </div>
        </table>
      </div>
      <div class="item">
        <table class="table table_select" width="100%">
          <div class="carousel1">
            <%= image_tag("wpicon_img_261.jpg", class: 'img-responsive ') %>
          </div>
        </table>
      </div>
      <div class="item">
        <table class="table table_select" width="100%">
          <div class="carousel1">
            <%= image_tag("wpicon_img_312.png", class: 'img-responsive ') %>
          </div>
        </table>
      </div>
    </div>
  </div>
  <!-- 轮播（Carousel）导航 -->
  <!-- <div class="select_left">
    <a class="carousel-control left" href="#myCarousel"
      data-slide="prev"><img src="/assets/btn_Left.png" class="btn_l"></a>
  </div>
  <div class="select_right">
    <a class="carousel-control right" href="#myCarousel"
      data-slide="next"><img src="/assets/btn_Right.png" class="btn_r"></a>
  </div> -->
</div>
<div class="col-xs-12">
  <div class="it333">
    <li style="list-style-type:none">
      <a href="#" target="">
        <img class="" src="http://rs.sushigogo.com.tw/website/uploads/website_1/zh-tw/wpicon_img_134.png" id="wpicon_img_134.png" alt="新品入荷" title="新品入荷" border="0" width="385" height="86.656"></a>
    </li>
    <li style="list-style-type:none">
      <a href="#" target="">
        <img class="" src="http://rs.sushigogo.com.tw/website/uploads/website_1/zh-tw/wpicon_img_134.png" id="wpicon_img_134.png" alt="新品入荷" title="新品入荷" border="0" width="385" height="86.656"></a>
    </li>
  </div>
</div>
<div class="container container-down">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#cat_box" data-toggle="tab">熱門商品</a></li>
    <li><a href="#cat_cage" data-toggle="tab">人氣商品</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="cat_box">
      <div id="myCarousel1" class="clear carousel slide">
        <!-- 轮播（Carousel）指标 -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel1" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel1" data-slide-to="1"></li>
        </ol>
        <!-- 轮播（Carousel）项目 -->
        <div class="carousel-inner">
          <div class="item active">
            <table class="table table_select">
              <tr>
                <td>
                  <a href="#">
                    <img class="left-image" src="http://rs.sushigogo.com.tw/website/uploads_product/website_4/P0000400000087_2_7408.png" title="爭鮮日式煎茶" alt="爭鮮日式煎茶">
                  </a>
                </td>
                <td>
                  <a href="#">
                    <img class="left-image" src="http://rs.sushigogo.com.tw/website/uploads_product/website_4/P0000400000302_2_6259.png" title="爭鮮活力運動飲" alt="爭鮮活力運動飲">
                  </a>
                </td>
              </tr>
              <tr>
                <td>
                  <a href="#">
                    <img class="left-image" src="http://rs.sushigogo.com.tw/website/uploads_product/website_4/P0000400000737_2_6471.png" title="爭鮮多多君乳酸飲料" alt="爭鮮多多君乳酸飲料">
                  </a>
                </td>
                <td>
                  <a href="#">
                    <img class="left-image" src="http://rs.sushigogo.com.tw/website/uploads_product/website_4/P0000400001117_2_6421.png" title="爭鮮冰淇淋大福(草莓牛奶)" alt="爭鮮冰淇淋大福(草莓牛奶)">
                  </a>
                </td>
              </tr>
            </table>
          </div>
          <div class="item">
            <table class="table table_select">
              <tr>
                <td>
                  <a href="#">
                    <img class="left-image" src="http://rs.sushigogo.com.tw/website/uploads_product/website_4/P0000400000087_2_7408.png" title="爭鮮日式煎茶" alt="爭鮮日式煎茶">
                  </a>
                </td>
                <td>
                  <a href="#">
                    <img class="left-image" src="http://rs.sushigogo.com.tw/website/uploads_product/website_4/P0000400000302_2_6259.png" title="爭鮮活力運動飲" alt="爭鮮活力運動飲">
                  </a>
                </td>
              </tr>
              <tr>
                <td>
                  <a href="#">
                    <img class="left-image" src="http://rs.sushigogo.com.tw/website/uploads_product/website_4/P0000400000737_2_6471.png" title="爭鮮多多君乳酸飲料" alt="爭鮮多多君乳酸飲料">
                  </a>
                </td>
                <td>
                  <a href="#">
                    <img class="left-image" src="http://rs.sushigogo.com.tw/website/uploads_product/website_4/P0000400001117_2_6421.png" title="爭鮮冰淇淋大福(草莓牛奶)" alt="爭鮮冰淇淋大福(草莓牛奶)">
                  </a>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <!-- 轮播（Carousel）导航 -->
        <a class="carousel-control left" href="#myCarousel1" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel1" data-slide="next">&rsaquo;</a>
      </div>
    </div>
    <div class="tab-pane" id="cat_cage">
      <h4>Cat Cage</h4>
    </div>
  </div>
</div>
<!-- <script src="Scripts/jquery-1.9.1.min.js"></script>
<script src="Scripts/bootstrap.min.js"></script> -->