<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="3000">
  <!-- 轮播（Carousel）指标 -->
  <!-- 轮播（Carousel）项目 -->
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag("wpicon_img_106.jpg", class: 'img-responsive ') %>
    </div>
    <div class="item">
      <%= image_tag("wpicon_img_261.jpg", class: 'img-responsive ') %>
    </div>
    <div class="item">
      <%= image_tag("wpicon_img_312.png", class: 'img-responsive ') %>
    </div>
  </div>
  <!-- 轮播（Carousel）导航 -->
  <!-- <div class="select_left">
    <a class="carousel-control left" href="#myCarousel"
      data-slide="prev"><img src="/assets/btn_Left.png" class="btn_l"></a>
  </div>
  <div class="select_right">
    <a class="carousel-control right" href="#myCarousel"
      data-slide="next"><img src="/assets/btn_Right.png" class="btn_r"></a>
  </div> -->
</div>
<div class="col-xs-12">
  <div class="it333">
    <li style="list-style-type:none">
      <a href="#" target="">
        <img class="" src="http://rs.sushigogo.com.tw/website/uploads/website_1/zh-tw/wpicon_img_134.png" id="wpicon_img_134.png" alt="新品入荷" title="新品入荷" border="0" width="360" height="80"></a>
    </li>
    <li style="list-style-type:none">
      <a href="#" target="">
        <img class="" src="http://rs.sushigogo.com.tw/website/uploads/website_1/zh-tw/wpicon_img_134.png" id="wpicon_img_134.png" alt="新品入荷" title="新品入荷" border="0" width="360" height="86.656"></a>
    </li>
  </div>
</div>
<div class="container container-down">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#cat_box" data-toggle="tab">熱門商品</a></li>
    <li><a href="#cat_cage" data-toggle="tab">人氣商品</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="cat_box">
      <div id="myCarousel1" class="clear carousel slide">
        <!-- 轮播（Carousel）指标 -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel1" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel1" data-slide-to="1"></li>
        </ol>
        <!-- 轮播（Carousel）项目 -->
        <div class="carousel-inner">
          <div class="item active">
            <table class="table table_select">
              <tr>
                <td>
                  <a href="#">
                    <img class="left-image" src="http://rs.sushigogo.com.tw/website/uploads_product/website_4/P0000400000087_2_7408.png" title="爭鮮日式煎茶" alt="爭鮮日式煎茶">
                  </a>
                </td>
                <td>
                  <a href="#">
                    <img class="left-image" src="http://rs.sushigogo.com.tw/website/uploads_product/website_4/P0000400000302_2_6259.png" title="爭鮮活力運動飲" alt="爭鮮活力運動飲">
                  </a>
                </td>
              </tr>
              <tr>
                <td>
                  <a href="#">
                    <img class="left-image" src="http://rs.sushigogo.com.tw/website/uploads_product/website_4/P0000400000737_2_6471.png" title="爭鮮多多君乳酸飲料" alt="爭鮮多多君乳酸飲料">
                  </a>
                </td>
                <td>
                  <a href="#">
                    <img class="left-image" src="http://rs.sushigogo.com.tw/website/uploads_product/website_4/P0000400001117_2_6421.png" title="爭鮮冰淇淋大福(草莓牛奶)" alt="爭鮮冰淇淋大福(草莓牛奶)">
                  </a>
                </td>
              </tr>
            </table>
          </div>
          <div class="item">
            <table class="table table_select">
              <tr>
                <td>
                  <a href="#">
                    <img class="left-image" src="http://rs.sushigogo.com.tw/website/uploads_product/website_4/P0000400000087_2_7408.png" title="爭鮮日式煎茶" alt="爭鮮日式煎茶">
                  </a>
                </td>
                <td>
                  <a href="#">
                    <img class="left-image" src="http://rs.sushigogo.com.tw/website/uploads_product/website_4/P0000400000302_2_6259.png" title="爭鮮活力運動飲" alt="爭鮮活力運動飲">
                  </a>
                </td>
              </tr>
              <tr>
                <td>
                  <a href="#">
                    <img class="left-image" src="http://rs.sushigogo.com.tw/website/uploads_product/website_4/P0000400000737_2_6471.png" title="爭鮮多多君乳酸飲料" alt="爭鮮多多君乳酸飲料">
                  </a>
                </td>
                <td>
                  <a href="#">
                    <img class="left-image" src="http://rs.sushigogo.com.tw/website/uploads_product/website_4/P0000400001117_2_6421.png" title="爭鮮冰淇淋大福(草莓牛奶)" alt="爭鮮冰淇淋大福(草莓牛奶)">
                  </a>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <!-- 轮播（Carousel）导航 -->
        <!-- <a class="carousel-control left" href="#myCarousel1" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel1" data-slide="next">&rsaquo;</a> -->
      </div>
    </div>
    <div class="tab-pane" id="cat_cage">
      <div id="myCarousel2" class="clear carousel slide">
        <!-- 轮播（Carousel）指标 -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel2" data-slide-to="1"></li>
          <li data-target="#myCarousel2" data-slide-to="2"></li>
        </ol>
        <!-- 轮播（Carousel）项目 -->
        <div class="carousel-inner">
          <div class="item active">
            <table class="table table_select">
              <tr>
                <td>
                  <a href="#">
                    <img class="left-image" src="http://rs.sushigogo.com.tw/website/uploads_product/website_4/P0000400000629_2_6818.png" title="美國特選雪花牛燒烤片" alt="美國特選雪花牛燒烤片">
                  </a>
                </td>
                <td>
                  <a href="#">
                    <img class="left-image" src="http://rs.sushigogo.com.tw/website/uploads_product/website_4/P0000400000810_2_6370.png" title="爭鮮熟凍烏龍麵" alt="爭鮮熟凍烏龍麵">
                  </a>
                </td>
              </tr>
              <tr>
                <td>
                  <a href="#">
                    <img class="left-image" src="http://rs.sushigogo.com.tw/website/uploads_product/website_4/P0000400000279_2_6842.png" title="紐西蘭羊肩包" alt="紐西蘭羊肩包">
                  </a>
                </td>
                <td>
                  <a href="#">
                    <img class="left-image" src="http://rs.sushigogo.com.tw/website/uploads_product/website_4/P0000400000587_2_6139.png" title="挪威鮭魚肚清肉(生食級)" alt="挪威鮭魚肚清肉(生食級)">
                  </a>
                </td>
              </tr>
            </table>
          </div>
          <div class="item">
            <table class="table table_select">
              <tr>
                <td>
                  <a href="#">
                    <img class="left-image" src="http://rs.sushigogo.com.tw/website/uploads_product/website_4/P0000400000629_2_6818.png" title="美國特選雪花牛燒烤片" alt="美國特選雪花牛燒烤片">
                  </a>
                </td>
                <td>
                  <a href="#">
                    <img class="left-image" src="http://rs.sushigogo.com.tw/website/uploads_product/website_4/P0000400000810_2_6370.png" title="爭鮮熟凍烏龍麵" alt="爭鮮熟凍烏龍麵">
                  </a>
                </td>
              </tr>
              <tr>
                <td>
                  <a href="#">
                    <img class="left-image" src="http://rs.sushigogo.com.tw/website/uploads_product/website_4/P0000400000279_2_6842.png" title="紐西蘭羊肩包" alt="紐西蘭羊肩包">
                  </a>
                </td>
                <td>
                  <a href="#">
                    <img class="left-image" src="http://rs.sushigogo.com.tw/website/uploads_product/website_4/P0000400000587_2_6139.png" title="挪威鮭魚肚清肉(生食級)" alt="挪威鮭魚肚清肉(生食級)">
                  </a>
                </td>
              </tr>
            </table>
          </div>
          <div class="item">
            <table class="table table_select">
              <tr>
                <td>
                  <a href="#">
                    <img class="left-image" src="http://rs.sushigogo.com.tw/website/uploads_product/website_4/P0000400000629_2_6818.png" title="美國特選雪花牛燒烤片" alt="美國特選雪花牛燒烤片">
                  </a>
                </td>
                <td>
                  <a href="#">
                    <img class="left-image" src="http://rs.sushigogo.com.tw/website/uploads_product/website_4/P0000400000810_2_6370.png" title="爭鮮熟凍烏龍麵" alt="爭鮮熟凍烏龍麵">
                  </a>
                </td>
              </tr>
              <tr>
                <td>
                  <a href="#">
                    <img class="left-image" src="http://rs.sushigogo.com.tw/website/uploads_product/website_4/P0000400000279_2_6842.png" title="紐西蘭羊肩包" alt="紐西蘭羊肩包">
                  </a>
                </td>
                <td>
                  <a href="#">
                    <img class="left-image" src="http://rs.sushigogo.com.tw/website/uploads_product/website_4/P0000400000587_2_6139.png" title="挪威鮭魚肚清肉(生食級)" alt="挪威鮭魚肚清肉(生食級)">
                  </a>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <!-- 轮播（Carousel）导航 -->
        <!-- <a class="carousel-control left" href="#myCarousel2" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel2" data-slide="next">&rsaquo;</a> -->
      </div>
    </div>
  </div>
</div>
<br>
<br>
<!-- <nav class="container container-bottom"> -->
<div class="bottom-menu">
  <div class="col-xs-12 traverse">
    <div class="col-xs-3 traverse-box0">
      <div class="bottommenu01">
        <img src="http://www.sushigogo.com.tw/sushigogo/templates/web_style/sushigogo_mobile/color_1/se_BottomIcon_pot.svg">
        <br>
        <a herf="#" class="icon-text">料理秘訣</a>
      </div>
    </div>
    <div class="col-xs-3 traverse-box">
      <div class="bottommenu02">
        <img src="http://www.sushigogo.com.tw/sushigogo/templates/web_style/sushigogo_mobile/color_1/se_BottomIcon_cart.svg">
        <br>
        <a herf="#" class="icon-text">購物說明</a>
      </div>
    </div>
    <div class="col-xs-3 traverse-box">
      <div class="bottommenu03">
        <img src="http://www.sushigogo.com.tw/sushigogo/templates/web_style/sushigogo_mobile/color_1/se_BottomIcon_car.svg">
        <br>
        <a herf="#" class="icon-text">運費與配送</a>
      </div>
    </div>
    <div class="col-xs-3 traverse-box">
      <div class="bottommenu04">
        <img src="http://www.sushigogo.com.tw/sushigogo/templates/web_style/sushigogo_mobile/color_1/se_BottomIcon_box.svg">
        <br>
        <a herf="#" class="icon-text">常見問題</a>
      </div>
    </div>
  </div>
</div>
<div class="se_BottomMain">
  <ul class="se_BottomMain_L">
    <li class="list">
      <span class="time">
        <span class="frame"> ｜ </span>
        <span class="text">服務時間：10:00~17:00  (例假日除外)</span>
        <span class="frame">｜ </span>
      </span>
    </li>
    <li class="list">
      <span class="up-text">
        <span class="frame">｜ </span>
        <span class="text">服務電話：0800-312-000</span>
        <span class="text"> </span>
        <span class="frame">｜ </span>
        <a href="mailto:sushigogo@sushiexpress.com.tw?subject=%E6%88%91%E6%9C%89%E7%96%91%E5%95%8F%2F%E5%BB%BA%E8%AD%B0%EF%BC%9A&body=%E7%82%BA%E6%8F%90%E5%8D%87%E6%9C%8D%E5%8B%99%E5%93%81%E8%B3%AA%EF%BC%8C%E8%8B%A5%E6%82%A8%E5%B0%8D%E7%88%AD%E9%AE%AEgogo%E7%9A%84%E6%9C%8D%E5%8B%99%EF%BC%8C%E6%9C%89%E4%BB%BB%E4%BD%95%E7%9C%8B%E6%B3%95%E8%88%87%E5%BB%BA%E8%AD%B0%EF%BC%8C%E8%AB%8B%E4%B8%8D%E5%90%9D%E5%91%8A%E8%A8%B4%E6%88%91%E5%80%91%EF%BC%8C%0A%E4%B8%A6%E9%9A%A8%E4%BF%A1%E9%99%84%E4%B8%8A%E6%82%A8%E7%9A%84%E5%A7%93%E5%90%8D%E3%80%81%E5%B8%B3%E8%99%9F%E3%80%81%E8%81%AF%E7%B5%A1%E6%96%B9%E5%BC%8F%EF%BC%9B%0A%E6%94%B6%E5%88%B0%E6%82%A8%E7%9A%84%E4%BF%A1%E4%BB%B6%E5%BE%8C%EF%BC%8C%E6%88%91%E5%80%91%E5%B0%87%E5%A6%A5%E6%85%8E%E8%99%95%E7%90%86%EF%BC%8C%E4%B8%A6%E5%84%98%E5%BF%AB%E5%9B%9E%E8%A6%86%E6%82%A8%E3%80%82%0A%E6%82%A8%E7%9A%84%E5%BB%BA%E8%A8%80%E6%98%AF%E6%88%91%E5%80%91%E6%8C%81%E7%BA%8C%E6%88%90%E9%95%B7%E7%9A%84%E5%8B%95%E5%8A%9B%EF%BC%8C%E5%AE%8C%E5%96%84%E6%82%A8%E7%9A%84%E9%9C%80%E6%B1%82%E6%98%AF%E6%88%91%E5%80%91%E8%87%B3%E9%AB%98%E7%9A%84%E6%A6%AE%E5%B9%B8%EF%BC%81%0A%0A%0A%E6%9C%83%E5%93%A1%E5%A7%93%E5%90%8D%EF%BC%9A%0A%0A%E6%9C%83%E5%93%A1email%E5%B8%B3%E8%99%9F%EF%BC%9A%0A%0A%E9%9B%BB%E8%A9%B1%20%2F%20%E6%89%8B%E6%A9%9F%EF%BC%9A%0A%0A%E6%88%91%E7%9A%84%E7%96%91%E5%95%8F%2F%E5%BB%BA%E8%AD%B0%20(%E8%AB%8B%E6%95%98%E8%BF%B0)%EF%BC%9A%0A%0A%0A%0A%0A%0A%0A%E6%AC%B2%E9%80%80(%E6%8F%9B)%E8%B2%A8%E4%B9%8B%E5%95%8F%E9%A1%8C%E5%95%86%E5%93%81%EF%BC%8C%E8%AB%8B%E9%99%84%E4%B8%8A%E5%95%86%E5%93%81%E7%85%A7%E7%89%87%E3%80%82%0A%0A">
          <span class="text">服務信箱</span>
        </a>
        <span class="frame"> ｜ </span>
      </span>
    </li>
    <li class="list">
      <span class="frame">本網站商品已向富邦產物保險投保產品責任保險<br />
        食品業者登錄字號：A-197286918-00000-8</span></li>
    <li class="list"><span class="frame"><span class="down-text">爭鮮不會主動以電話&簡訊,通知顧客進行付款或變更付款方式</span></span></li>
  </ul>
  <div class="col-xs-12">
    <div class="col-xs-3">
      <div class="about-us">
        <h3 class="about-title"><u>關注</u>我們</h3>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="col-xs-8 ">
        <a class="btn btn-warning btn-lg btn-report" href="#">訂閱電子報</a></p>
    </div>
  </div>
  <div class="col-xs-12">
    <div class="col-xs-8 ">
      <a class="btn btn-primary btn-lg btn-fb" href="https://www.facebook.com/sushiexpress.tw/?fref=ts" target="_blank">爭鮮粉絲團</a>
    </div>
  </div>
</div>
</div>