<div class="col-xs-12 item-title">
  <div class="title">
    <strong class="title-left-text">人氣商品</strong>
    <span class="title-right-text">共92結果</span>
  </div>
</div>
<div class="col-xs-12 sort">
  <%= form_tag home_items_path, method: "get", class:"sort-select" do %>
    <% select_tag options_for_select([['上架日期', '上架日期'], ['熱銷商品', '熱銷商品'], ['瀏覽人次', '瀏覽人次'], ['價格由低至高', '價格由低至高'], ['價格由高至低', '價格由高至低']], params[:city]) %>
  <% end %>
  <span class="sort-text">排序：</span>
</div>
<div class="col-xs-12 col-item">
  <div class="col-xs-6 commodity-lattice">
    <ul class="Kg_ProductList clearfix">
      <li>
        <div class="se_ProductStyle">
          <a href="#" title="帝王蟹龍蝦豪華組">
            <img class="commodity-image" src="http://rs.sushigogo.com.tw/website/uploads_product/website_4/P0000400000023_2_2414.png" title="帝王蟹龍蝦豪華組" alt="帝王蟹龍蝦豪華組">
          </a>
          <h2 class="se_Product_Name"><a class="se_Product_soldout" href="#" title="帝王蟹龍蝦豪華組">帝王蟹龍蝦豪華組</a></h2>
        </div>
      </li>
    </ul>
    <ul class="product-detail">
      <h4 class="product-detail-text">蟹 1kg±10％ / 隻；蝦 500g / 隻</h4>
    </ul>
    <ul class="se_Product_price clearfix">
      <li class="se_Product_price01"><span>$</span>1399</li>
      <li class="se_Product_price02">$1555</li>
    </ul>
    <div class="col-xs-8 se_Product_btn">
      <a class="fa fa-cart-plus" href="#"></a>
      <a class="fa fa-heart-o" href="#">
      </a>
    </div>
  </div>
  <div class="col-xs-6 commodity-lattice">
    <ul class="Kg_ProductList clearfix">
      <li>
        <div class="se_ProductStyle">
          <a href="#" title="帝王蟹龍蝦豪華組">
            <span class="se_Product_soldout" id="soldout_1229" style="display: none;">
            </span>
            <img class="commodity-image" src="http://rs.sushigogo.com.tw/website/uploads_product/website_4/P0000400000023_2_2414.png" title="帝王蟹龍蝦豪華組" alt="帝王蟹龍蝦豪華組">
          </a>
          <h2 class="se_Product_Name"><a class="se_Product_soldout" href="#" title="帝王蟹龍蝦豪華組">帝王蟹龍蝦豪華組</a></h2>
        </div>
      </li>
    </ul>
    <ul class="product-detail">
      <h4 class="product-detail-text">蟹 1kg±10％ / 隻；蝦 500g / 隻</h4>
    </ul>
    <ul class="se_Product_price clearfix">
      <li class="se_Product_price01"><span>$</span>1399</li>
      <li class="se_Product_price02">$1555</li>
    </ul>
    <div class="col-xs-8 se_Product_btn">
      <a class="fa fa-cart-plus" href="#"></a>
      <a class="fa fa-heart-o" href="#">
      </a>
    </div>
  </div>
</div>