// Place all the styles related to the touron controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.navbar
  background-color: white
  .container
    padding-left: 0px
    margin-left: 0px
    .navbar-header
      .col-xs-12
        .col-xs-2
          .glyphicon
            font-size: 30px
            color: #000000
            top: 10px
            left: 2px
        .col-xs-4
          .logo
            width: 160px
            height: 50px
