// Place all the styles related to the touron controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.navbar-default
  // background-color: #00ff00
  .container
    padding-left: 0px
    margin-left: 0px
    .navbar-header
      .col-xs-12
        .col-xs-2
          .glyphicon
            font-size: 30px
            color: #000000
            top: 10px
            left: 2px
        .col-xs-4
          .logo
            width: 160px
            height: 50px
        .col-xs-4
          font-size: 30px
          top: 5px
          text-align: right
          .glyphicon-user
            color: #000000
            text-decoration: none
          .fa
            color: #000000
            text-decoration: none

.img-responsive
  margin-top: 50px
  height: 220px
.select-menu
  .col-xs-12
    right: 10px
.container-down
  background: url(http://rs.sushigogo.com.tw/website/uploads/website_1/zh-tw/wpicon_img_145.jpg)
.carousel-indicators
  margin-bottom: 0px
  top: 355px
.table_select
  height: 160px
  width: 160px
  padding-left: 0px
  padding-right: 0px
.left-image
  height: 160px
  width: 160px

// .container-bottom
//   padding-left: 0px
//   padding-right: 0px
.bottom-menu
  .traverse
    height: 100px
    background-color: #efefef
    padding-left: 12px
    padding-right: 12px
    .traverse-box0
      margin-top: 6px
      padding-left: 1.5px
      padding-right: 1.5px
    .traverse-box
      margin-top: 5px
      padding-left: 3px
      padding-right: 3px
      border-left-style: solid
      border-color: #d2d4d3

      .bottommenu01
        display: inline
        margin-top: 58px
        .icon-text
          font-size: 16px
      .bottommenu02
        display: inline
        .icon-text
          font-size: 16px
      .bottommenu03
        display: inline
        .icon-text
          font-size: 16px
      .bottommenu04
        display: inline
        .icon-text
          font-size: 16px
.se_BottomMain
  .se_BottomMain_L
    padding-left: 0px
    .time
      text-align: center
      font-size: 14px
    .frame
      color: #808080
    .text
      text-align: center
      color: #009999
    .list
      text-align: center
      list-style-type: none
    .up-text
      font-size: 14px
    .down-text
      font-size: 11px
  .col-xs-12
    .col-xs-3
      .about-us
        .about-title
          font-size: 14px
    .col-xs-8
      .btn-report
        width: 300px
        height: 40px
      .btn-fb
        width: 300px
        height: 40px

