.item-title
  display: inline-block
  padding-top: 10px
  border-bottom: 1px #e5e5e5 solid
  padding-bottom: 10px
  .title
    width: 200px
    margin-right: 0px
    .title-left-text
      font-size: 16px
    .title-right-text
      font-size: 16px
      margin-left: 5px
.sort
  padding-top: 10px
  padding-bottom: 10px
  .sort-select
    float: right
  .sort-text
    float: right
.col-item
  padding-left: 0px
  .commodity-lattice
    padding-left: 0px
    padding-right: 0px
    border: 1px solid #eee
    .Kg_ProductList
      list-style-type: none
      padding-top: 18px
      padding-left: 13.5px
      padding-right: 13.5px
      width: 170px
      .se_ProductStyle
        width: 150px
        .commodity-image
          width: 150px
          height: 150px
        .se_Product_Name
          font-size: 15px
          .se_Product_soldout
            color: #000
    .se_Product_price

      list-style-type: none
      width: 150px
      display: inline
      .se_Product_price01
        color: #ff0000
        font-size: 30px
        padding-left: 10px
        margin-right: 30px
        float: left
      .se_Product_price02
        text-decoration: line-through
    .product-detail
      padding-left: 10px
      width: 150px
      .product-detail-text
        font-size: 16px
        width: 150px
    .se_Product_btn
      float: right
      .fa-heart-o
        text-decoration: none
        color: #000
        float: right
        font-size: 25px
        a:hover
          background: url(http://rs.sushigogo.com.tw/website/uploads/website_1/zh-tw/wpicon_img_145.jpg)
      .fa-cart-plus
        text-decoration: none
        color: #000
        float: right
        font-size: 25px
      // .se_Product_btn_cart
      //   list-style-type: none
      //   width: 150px
      //   .fa-heart
      //     text-decoration: none
      // .se_Product_list
      //   list-style-type: none
      //   width: 150px
      //   float: right
      //   .fa-cart-plus
      //     text-decoration: none
